<!DOCTYPE html>
<html ng-app="projectRtc">

<head>
	<title><%= title %></title>
	<base href="/" />
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
	<script type="text/javascript" src="javascripts/rtcClient.js"></script>
	<script type="text/javascript" src="javascripts/android.js"></script>
	</script>
	<script type="text/javascript"
		src="https://cdn.bootcss.com/angular.js/1.3.15/angular.min.js"> </script>
	<script type="text/javascript" src="https://cdnjs.gtimg.com/cdnjs/libs/ejs/1.0.0/ejs.min.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>
</head>

<body>
	<div class='main' ng-controller="JudgeController as judge">
		<div ng-if='judge.isAndroid'>
			<h1>android</h1>
			<%=include android-page%>
		</div>

		<div ng-if='judge.isOthers'>
			<h1>Your device is not android.We are sorry that you can only view the view this on web</h1>
			<h1><%= header %></h1>
			<%= include local-cam %>
			<%= include remote-streams %>
			<p class="footer"><%= footer %></p>
		</div>
	</div>
</body>

</html>